APP_NAME = Galaxie Dev Environment
RUN_MODE = prod
RUN_USER = git

[repository]
ROOT = /data/git/repositories

[repository.local]
LOCAL_COPY_PATH = {{ gitea_app_data_path }}/tmp/local-repo

[repository.upload]
TEMP_PATH = {{ gitea_app_data_path }}/uploads

[server]
APP_DATA_PATH    = {{ gitea_app_data_path }}
DOMAIN           = {{ gitea_domain }}
SSH_DOMAIN       = {{ gitea_ssh_domain }}
HTTP_PORT        = {{ gitea_http_port }}
ROOT_URL         = {{ gitea_root_url}}
DISABLE_SSH      = {{ gitea_disable_ssh }}
SSH_PORT         = {{ gitea_ssh_port }}
SSH_LISTEN_PORT  = {{ gitea_ssh_listen_port }}
LFS_START_SERVER = {{ gitea_lfs_start_server }}
LFS_CONTENT_PATH = {{ gitea_lfs_content_path }}
LFS_JWT_SECRET   = {{ gitea_lfs_jwt_secret }}
OFFLINE_MODE     = {{ gitea_offline_mode }}

[database]
PATH     = {{ gitea_app_data_path }}/gitea.db
DB_TYPE  = sqlite3
HOST     = localhost:3306
NAME     = gitea
USER     = root
PASSWD   = 
LOG_SQL  = false
SCHEMA   = 
SSL_MODE = disable
CHARSET  = utf8

[indexer]
ISSUE_INDEXER_PATH = {{ gitea_app_data_path }}/indexers/issues.bleve

[session]
PROVIDER_CONFIG = {{ gitea_app_data_path }}/sessions
PROVIDER        = file

[picture]
AVATAR_UPLOAD_PATH            = {{ gitea_app_data_path }}/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = {{ gitea_app_data_path }}/repo-avatars
DISABLE_GRAVATAR              = false
ENABLE_FEDERATED_AVATAR       = true

[attachment]
PATH = {{ gitea_app_data_path }}/attachments

[log]
MODE                 = console
LEVEL                = info
REDIRECT_MACARON_LOG = true
MACARON              = console
ROUTER               = console
ROOT_PATH            = {{ gitea_app_data_path }}/log

[security]
INSTALL_LOCK   = true
SECRET_KEY     = hIv32n1PpBz1GwpRA1z61Pz09pYJ4fKb1cNFt67UnFQr5kstGhd4NrQn2TlhHapJ
INTERNAL_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE2MDI2Mjc3MjZ9.lWH5kR0_v9BEmpT1ncyx8IxIBD9Xof3_Nnun4835fZ0

[service]
DISABLE_REGISTRATION              = false
REQUIRE_SIGNIN_VIEW               = false
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
ALLOW_ONLY_EXTERNAL_REGISTRATION  = false
ENABLE_CAPTCHA                    = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = noreply.localhost

[oauth2]
JWT_SECRET = Dw3TAdpo_2TxClfSrnJBW6Eg3psZnIpFfuPAiviZKUQ

[mailer]
ENABLED = false

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = true

