version: '2'

networks:
  default:
    external:
      name: {{ gitea_network_internal }}

volumes:
  {{ gitea_volume_name }}:

services:
  {{ gitea_service_name }}:
    image: {{ gitea_image }}
    ports:
      - "{{ gitea_http_port }}:{{ gitea_http_port }}"
      - "{{ gitea_ssh_port }}:{{ gitea_ssh_listen_port }}"
    container_name: {{ gitea_service_name }}
    environment:
{% for variable in gitea_environment %}
      - {{ variable }}
{% endfor %}
    volumes:
      - ./data:{{ gitea_app_data_path }}
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: always
